// Variables
$primary-color: #fe3c72;
$secondary-color: #fff;
$text-color: #fff;
$border-color: transparent;
$max-width: 1200px;
$border-radius: 50px;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

// Mixins
@mixin button-styles {
  background-color: transparent;
  border: none;
  color: $text-color;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: $border-radius;
  padding: 10px 20px;

  &:hover {
    background-color: rgba($text-color, 0.1);
  }
}

.root {
  background-color: $primary-color;
  border-bottom: 1px solid $border-color;
  box-shadow: $shadow;
  width: 100%; /* Розтягуємо на всю ширину */
  padding: 10px 0; /* Змініть або видаліть відповідно до потреб */
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%; /* Розтягуємо на всю ширину */
  margin: 0 auto;
  padding: 0 20px; /* Змініть або видаліть відповідно до потреб */
}

.logo {
  color: rebeccapurple;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: $border-radius;
  padding: 10px 20px;
  text-decoration: none;
  background-image: linear-gradient(45deg, $primary-color, pink, pink);
  background-size: 300% 100%;
  background-position: 100% 50%;
  transition: background-position 0.5s ease;

  &:hover {
    background-position: 0% 50%;
  }
}

.buttons {
  display: flex;
  align-items: center;

  // Оновлено стилі для кнопок
  button {
    background-image:  black;
    @include button-styles;
    margin-left: 10px;
    border: 1px solid transparent; // Додали параметр border
  }

  a {
    text-decoration: none;
  }
}
