$primary-color: #11cac4;
$secondary-color: #f50057;
$text-color: #333;
$background-color: #f9f9f9;
$border-color: #ddd;

.ancetaContainer {
  display: flex;
  flex-direction: column;
  max-height: 712px;
  max-width: 100%; // Встановлюємо максимальну висоту
  overflow-y: auto; // Додаємо скролінг по вертикалі
  padding: 20px;
  background-color: $background-color;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.ancetaGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex-grow: 1;
}

.filterForm {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.filterForm:hover {
  transform: scale(1.02);
}

.filterForm .MuiFormControl-root {
  margin-bottom: 15px;
}

.filterForm .MuiRadioGroup-root {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filterForm button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: $primary-color;
  color: white;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s, transform 0.2s;
}

.filterForm button:hover {
  background-color: $secondary-color;
  transform: scale(1.05);
}

.filterForm button:active {
  transform: scale(0.98);
}

.ancetaCard {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  img.ancetaImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid $primary-color;
    transition: border-color 0.3s ease, transform 0.3s ease;

    &:hover {
      border-color: $secondary-color;
      transform: rotate(10deg);
    }
  }

  p {
    color: $text-color;
    margin-bottom: 10px;
    font-size: 16px;

    strong {
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
  .ancetaGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .ancetaGrid {
    grid-template-columns: 1fr;
  }
}

.socialIcons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.socialIcons a {
  color: $text-color;
  transition: color 0.3s ease;

  &:hover {
    color: $secondary-color;
  }
}

/* Стилізація Select для року народження */
.MuiSelect-root {
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid $border-color;
  font-size: 16px;
  width: 150px;  /* Мінімізуємо ширину для компактного вигляду */
  transition: all 0.3s ease;

  &:hover {
    border-color: $primary-color;
  }

  &.Mui-focused {
    border-color: $secondary-color;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .MuiSelect-icon {
    color: $primary-color;  /* Колір іконки */
  }
}
