body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ff6b6b !important;
  height: 100%; /* Займає всю доступну висоту */
  overflow: hidden; 
}