.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #fff; /* Змінено колір фону на білий */
  border-radius: 1rem; /* Збільшено радіус кутів */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Змінено тінь */

  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 4px solid #fff; /* Додано білий обрамляючий колір для аватара */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь для аватара */
  }

  .userName {
    font-size: 1.5rem; /* Збільшено розмір шрифту імені */
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
  }

  .userDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    .additional {
      font-size: 1rem; /* Збільшено розмір додаткового тексту */
      color: #666;
    }
  }
}
